<footer class="footer">
  <small>
    Matias Pan - <a href="https://github.com/kriox26">Github</a> - 
    Watch the <a href="https://github.com/kriox26/members-only">source code</a>
  </small>
  <nav>
    <ul>
	  <a href="http://www.theodinproject.com">TOP</a>
    </ul>
  </nav>
</footer>
